{{#each this}}
<div class="card">
    <div class="card-img-top ">
        <img  width="300px" src="{{flag}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <h2 class="card-title">Name: {{name}}</h2>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        {{#each languages}}
        <ul class="list-group">Languages:</ul>
        <li class="list-group-item">{{name}}</li>
        {{/each}}
        </ul>
    </div>
</div>
{{/each}}